body {
    background: linear-gradient( rgba(108, 159, 145, 0.75), rgba(108, 159, 145, 0.75) ), url("http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/marijuana-pattern-florin-tenica.jpg");
    padding-top: 70px;
}

#main-body {
    background: #DAF4ED;
}

.navbar-logo {
    max-width: 45px;
}
.page-header {
    padding-top: 20px;
}
