/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: #555;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: chartreuse;
  cursor: pointer;
}

nav a:hover {
  color: hotpink;
}

.bg-primary {
  background-color: #78C2AD !important;
}

.container {
  min-height: 750px;
}

.footer {
  background-color: #555;
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
}

.footer-text{
  color: white;
  font-size: 11px;
}


.card {
  width: 18rem;  
  height: auto;
  margin: 0 auto;
  float: none;
}

.h-100{
  max-height: 650px;
}

body {
    background: linear-gradient( rgba(108, 159, 145, 0.75), rgba(108, 159, 145, 0.75) ), url("http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/marijuana-pattern-florin-tenica.jpg");
    padding-top: 70px;
}

#main-body {
    background: #DAF4ED;
    padding: 30px 30px;
    height: 100%;
}

.navbar-logo {
    max-width: 45px;
}
.page-header {
    padding-top: 20px;
}

.make-new{
  display: flex;
  justify-content: flex-end;
  max-height: 50px;
}

