/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: #555;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  color: chartreuse;
  cursor: pointer;
}

nav a:hover {
  color: hotpink;
}

.bg-primary {
  background-color: #78C2AD !important;
}

.footer {
  background-color: #555;
  width: 100%;
  height: 25px;
  position: fixed;
  bottom: 0;
}

.footer-text{
  color: white;
  font-size: 11px;
}


.card {
  width: 18rem;  
  height: auto;
}

.card-group {
  width: 28rem;  
  height: auto;
}

.h-100{
  max-height: 650px;
}

body {
    background: linear-gradient( rgba(108, 159, 145, 0.75), rgba(108, 159, 145, 0.75) ), url("http://images.fineartamerica.com/images/artworkimages/mediumlarge/1/marijuana-pattern-florin-tenica.jpg");
    padding-top: 70px;
}

#main-body {
    background: #DAF4ED;
    padding: 20px 20px;
    margin: auto;
    height: 100%;
}

.navbar-logo {
    max-width: 45px;
}
.page-header {
    padding-top: 20px;
}

.make-new{
  display: flex;
  justify-content: flex-end;
  max-height: 50px;
}
 #home-section{
  /*  background: url("https://c1.staticflickr.com/1/799/27348480748_fc3c586617_b.jpg") no-repeat;*/
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #008ed6;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; 

 }




